body {
    font-family: "Space Mono", Arial, sans-serif;
    margin: 1em;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: black;
    padding: 1em;
    text-align: left;
    position: relative;
}

h1 {
    font-size: 24px;
    margin-bottom: 4px;
}

h2 {
    font-size: 14px;
    opacity: 0.4;
}

h3 {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 24px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

p {
    margin: 20px 0;
    line-height: 24px;
    font-size: 14px;
}

li {
    padding: 4px 0
}

li span {
    font-size: 10px;
}

.indigoAnchors {
    color: rgb(88, 86, 214);
    font-size: 14px;
    margin: 2px 0;
    display: inline-block;
}

.indigoAnchors:hover {
    background-color: rgba(88, 86, 214, 0.1);
}

.mainContainer {
    max-width: 680px;
    margin: 30px auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 0;
}

.techno {
    margin-bottom: 24px;
}

.swiftTitle {
    color: #ee4731;
}

.blackAnchors{
    color: black;
}
.blackAnchors:hover {
    background-color: gainsboro;
}

.flutterTitle {
    color: #1db4fd;
}

section {
    max-width: 680px;
    margin: 1em auto 0 auto;
    padding: 1em;
}

footer {
    max-width: 680px;
    margin: 1em auto 0 auto;
    padding: 1em;
    color: black;
    font-size: 12px;
}